/* TOKENS */
:root{
  --bg:#ece7f5;
  --sf:#ffffffcc;
  --sf2:#e6e0f3;

  --p:#6d28d9;
  --p-dk:#4c1d95;
  --p-lt:#a78bfa;

  --tx:#0f172a;
  --tx2:#374151;
  --tx3:#6b7280;

  --bdr:#e2e8f0;

  --sh:0 8px 30px rgba(109,40,217,.10);
  --sh2:0 20px 50px rgba(109,40,217,.18);

  --hdr1:#7c3aed;
  --hdr2:#9333ea;
  --hdr3:#5b21b6;
}

/* DARK MODE */
body.dark{
  --bg:#0d0d1a;
  --sf:#161627;
  --sf2:#1e1e33;

  --tx:#f0f0ff;
  --tx2:#c4c4e0;
  --tx3:#8888aa;

  --bdr:#2a2a44;

  --sh:0 8px 30px rgba(0,0,0,.4);
  --sh2:0 20px 50px rgba(0,0,0,.6);

  --hdr1:#0f172a;
  --hdr2:#1e1b4b;
  --hdr3:#020617;
}

body{
  background:var(--bg);
  color:var(--tx);
  transition:.3s;
}
